@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
}

@keyframes ufoMove {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px yellow);
  }

  50% {
    transform: scale(1.15);
    filter: drop-shadow(0 0 35px orange);
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px yellow);
  }
}

.floating-train {
  animation: floatTrain 1.5s ease-in-out infinite;
}

@keyframes floatTrain {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes fly {
  0% {
    transform: translate(100vw, 0px);
  }

  15% {
    transform: translate(75vw, -15px);
  }

  30% {
    transform: translate(50vw, 10px);
  }

  45% {
    transform: translate(25vw, -20px);
  }

  60% {
    transform: translate(0vw, 15px);
  }

  75% {
    transform: translate(-25vw, -10px);
  }

  90% {
    transform: translate(-60vw, 20px);
  }

  100% {
    transform: translate(-100px, -5px);
  }
}

@keyframes planeFly {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-150px);
  }
}
